.footer {
  color: #ffd328; /* Light text for contrast */
  font-family: "Roboto", sans-serif;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffd328;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffd328;
}

.footer-social-icons {
  font-size: 1.5rem;
}

.social-icon {
  color: #ffffff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  color: #007bff;
  transform: scale(1.2);
}

.footer-divider hr {
  border-color: #38384f;
}

.footer-bottom p {
  font-size: 0.9rem;
  color: #c4c4c4;
}

.footer-bottom strong {
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer-title {
    font-size: 1.25rem;
  }

  .footer-section p,
  .footer-links a {
    font-size: 0.9rem;
  }

  .footer-social-icons {
    font-size: 1.2rem;
  }
}
